<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="PM_Presentation-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
        <dependent-module archiveName="PM_Services_Interfaces-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_Services_Interfaces/PM_Services_Interfaces">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_ServiceFactory-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_ServiceFactory/PM_ServiceFactory">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_Services-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_Services/PM_Services">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_BusinessLogic_Interfaces-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_BusinessLogic_Interfaces/PM_BusinessLogic_Interfaces">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_BusinessLogicFactory-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_BusinessLogicFactory/PM_BusinessLogicFactory">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_BusinessLogic-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_BusinessLogic/PM_BusinessLogic">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_Persistance-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_Persistance/PM_Persistance">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PM_Beans-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/PM_Beans/PM_Beans">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="PM_Presentation"/>
        <property name="java-output-path" value="/PM_Presentation/target/classes"/>
    </wb-module>
</project-modules>
